apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  labels:
    app: auth-service
  annotations:
    argocd-image-updater.argoproj.io/update-strategy: "digest"
spec:
  replicas: {{ .Values.services.auth.replicas }}
  selector:
    matchLabels: { app: auth-service }
  template:
    metadata:
      labels: { app: auth-service }
    spec:
      containers:
      - name: auth-service
        image: {{- if (regexMatch "^sha256:" .Values.services.auth.tag) }}{{ .Values.services.auth.image }}@{{ .Values.services.auth.tag }}{{ else }}{{ .Values.services.auth.image }}:{{ .Values.services.auth.tag }}{{ end }}
        imagePullPolicy: {{ .Values.global.imagePullPolicy }}
        ports: [{ containerPort: 3001 }]
        {{- if .Values.services.auth.resources }}
          resources:
      {{ toYaml .Values.services.auth.resources | indent 10 }}
        {{- end }}
        readinessProbe:
          httpGet: { path: /healthz, port: 3001 }
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          httpGet: { path: /healthz, port: 3001 }
          initialDelaySeconds: 10
          periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
spec:
  type: ClusterIP
  selector: { app: auth-service }
  ports:
  - port: 3001
    targetPort: 3001
